{{! Extend the main layout }}
{{!< layout }}

<div class="dashboard-container">
    <div class="sidebar">
        <h3>Welcome {{user}}</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><button id="logout">Logout</button> </li>
        </ul>
    </div>
    <div class="main-content">
        
        <div>
            <div id="hidden-data" hidden>{{linktoshare}}</div>
            <h3>Coupon {{code}}</h3>
            <button id="shareButton">Share</button>
        </div>
        <div class="card-content">
            {{#each cards}}
            <div class="card">
                <span class="icon">{{this.icon}}</span>
                <p>{{this.type}} <b>{{this.value}}</b> </p>
            </div>
        {{/each}}
        </div>
    </div>
</div>
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
  document.getElementById('logout').addEventListener('click', function(event) {
  event.preventDefault(); // Prevent the default action of the link

console.log('clicked on logut')

  // Delete the JWT token cookie by setting its expiry to a past date
  document.cookie = 'jwtToken=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';

  // Redirect to the home page or login page
  window.location.href = 'https://hamaracafe.com/'; // Adjust the URL to your site's home or login page
});
});

</script>
